[submodule "src/main/java/frc/lib/frc.lib.NinjasLib"]
	path = src/main/java/frc/lib/frc.lib.NinjasLib
	url = https://github.com/Ninjas4744-Organization/frc.lib.NinjasLib.git
[submodule "src/main/java/frc/lib/NinjasLib"]
	path = src/main/java/frc/lib/NinjasLib
	url = https://github.com/Ninjas4744-Organization/NinjasLib.git
